@mixin animation-duration($time) {
  &.s-active.s-duration-#{$time} {

    >.s-active,
    >.s-last {
      transition-duration: #{$time}ms;
    }
  }
}

.s-animation {

  /* 正在进行动画时，上个页面可见 */
  &.s-start,
  &.s-active {
    >.s-last {
      display: flex;
    }
  }

  &.s-active {

    >.s-active,
    >.s-last {
      transition-duration: .3s;
    }
  }

  &.s-done {
    >.s-last {
      display: none;
    }
  }

  @include animation-duration(100);
  @include animation-duration(200);
  @include animation-duration(300);
  @include animation-duration(400);
  @include animation-duration(500);
  @include animation-duration(600);
  @include animation-duration(700);
  @include animation-duration(800);
  @include animation-duration(900);
  @include animation-duration(1000);
  @include animation-duration(2000);
  @include animation-duration(3000);
  @include animation-duration(4000);
  @include animation-duration(5000);

  &.s-forward {
    >.s-last {
      z-index: 0;
    }

    >.s-active {
      z-index: 1;
    }
  }

  &.s-backward {
    >.s-last {
      z-index: 1;
    }

    >.s-active {
      z-index: 0;
    }
  }
}

/* Cover效果 */

.s-animation.s-cover.s-horizontal {
  &.s-active {

    >.s-active,
    >.s-last {
      transition-property: transform;
    }
  }

  /* 推入新页面，滑动效果 */
  &.s-forward.s-start {

    /* 新页面初始情况下在外部 */
    >.s-active {
      transform: translate(100%, 0);
    }
  }

  /* 新页面开始滑入 */
  &.s-forward.s-active {
    >.s-active {
      transform: translate(0, 0);
    }
  }

  &.s-forward.s-done {
    >.s-active {
      transform: translate(0, 0);
    }
  }

  /* 返回上一页，滑动效果 */
  /* 老页面开始滑出 */
  &.s-backward.s-active {
    >.s-last {
      transform: translate(100%, 0);
    }
  }
}

.s-animation.s-cover.s-vertical {
  &.s-active {

    >.s-active,
    >.s-last {
      transition-property: transform;
    }
  }

  /* 推入新页面，滑动效果 */
  &.s-forward.s-start {

    /* 新页面初始情况下在外部 */
    >.s-active {
      transform: translate(0, 100%);
    }
  }

  /* 新页面开始滑入 */
  &.s-forward.s-active {
    >.s-active {
      transform: translate(0, 0);
    }
  }

  &.s-forward.s-done {
    >.s-active {
      transform: translate(0, 0);
    }
  }

  /* 返回上一页，滑动效果 */
  /* 老页面开始滑出 */
  &.s-backward.s-active {
    >.s-last {
      transform: translate(0, 100%);
    }
  }
}

/* Cover Fade效果 */

.s-animation.s-cover-fade.s-horizontal {
  &.s-active {

    >.s-active,
    >.s-last {
      transition-property: transform, opacity;
    }
  }

  /* 推入新页面，滑动效果 */
  &.s-forward.s-start {

    /* 新页面初始情况下在外部 */
    >.s-active {
      transform: translate(40%, 0);
      opacity: 0;
    }
  }

  /* 新页面开始滑入 */
  &.s-forward.s-active {
    >.s-active {
      transform: translate(0, 0);
      opacity: 1;
    }
  }

  &.s-forward.s-done {
    >.s-active {
      transform: translate(0, 0);
      opacity: 1;
    }
  }

  /* 返回上一页，滑动效果 */
  /* 老页面开始滑出 */
  &.s-backward.s-active {
    >.s-last {
      transform: translate(40%, 0);
      opacity: 0;
    }
  }
}

.s-animation.s-cover-fade.s-vertical {
  &.s-active {

    >.s-active,
    >.s-last {
      transition-property: transform, opacity;
    }
  }

  /* 推入新页面，滑动效果 */
  &.s-forward.s-start {

    /* 新页面初始情况下在外部 */
    >.s-active {
      transform: translate(0, 40%);
      opacity: 0;
    }
  }

  /* 新页面开始滑入 */
  &.s-forward.s-active {
    >.s-active {
      transform: translate(0, 0);
      opacity: 1;
    }
  }

  &.s-forward.s-done {
    >.s-active {
      transform: translate(0, 0);
      opacity: 1;
    }
  }

  /* 返回上一页，滑动效果 */
  /* 老页面开始滑出 */
  &.s-backward.s-active {
    >.s-last {
      transform: translate(0, 40%);
      opacity: 0;
    }
  }
}

/* Fade效果 */

.s-animation.s-fade {
  &.s-active {

    >.s-active,
    >.s-last {
      transition-property: opacity;
    }
  }

  /* 推入新页面，滑动效果 */
  &.s-forward.s-start {

    /* 新页面初始情况下不可见 */
    >.s-active {
      opacity: 0;
    }
  }

  /* 新页面开始载入 */
  &.s-forward.s-active {
    >.s-active {
      opacity: 1;
    }
  }

  &.s-forward.s-done {
    >.s-active {
      opacity: 1;
    }
  }

  /* 返回上一页，滑动效果 */
  /* 老页面开始滑出 */
  &.s-backward.s-active {
    >.s-last {
      opacity: 0;
    }
  }
}

/* Slide 效果 */

.s-animation.s-slide.s-horizontal {
  &.s-active {

    >.s-active,
    >.s-last {
      transition-property: transform;
    }
  }

  /* 推入新页面，滑动效果 */
  &.s-forward.s-start {

    /* 新页面初始情况下在外部 */
    >.s-active {
      transform: translate(100%, 0);
    }

    >.s-last {
      transform: translate(0, 0);
    }
  }

  /* 新页面开始滑入 */
  &.s-forward.s-active {
    >.s-active {
      transform: translate(0, 0);
    }

    >.s-last {
      transform: translate(-100%, 0);
    }
  }

  &.s-forward.s-done {
    >.s-active {
      transform: translate(0, 0);
    }
  }

  /* 返回上一页，滑动效果 */
  &.s-backward.s-start {
    >.s-active {
      transform: translate(-100%, 0);
    }

    >.s-last {
      transform: translate(0, 0);
    }
  }

  /* 老页面开始滑出 */
  &.s-backward.s-active {
    >.s-active {
      transform: translate(0, 0);
    }

    >.s-last {
      transform: translate(100%, 0);
    }
  }
}

.s-animation.s-slide.s-vertical {
  &.s-active {

    >.s-active,
    >.s-last {
      transition-property: transform;
    }
  }

  /* 推入新页面，滑动效果 */
  &.s-forward.s-start {

    /* 新页面初始情况下在外部 */
    >.s-active {
      transform: translate(0, 100%);
    }

    >.s-last {
      transform: translate(0, 0);
    }
  }

  /* 新页面开始滑入 */
  &.s-forward.s-active {
    >.s-active {
      transform: translate(0, 0);
    }

    >.s-last {
      transform: translate(0, -100%);
    }
  }

  &.s-forward.s-done {
    >.s-active {
      transform: translate(0, 0);
    }
  }

  /* 返回上一页，滑动效果 */
  &.s-backward.s-start {
    >.s-active {
      transform: translate(0, -100%);
    }

    >.s-last {
      transform: translate(0, 0);
    }
  }

  /* 老页面开始滑出 */
  &.s-backward.s-active {
    >.s-active {
      transform: translate(0, 0);
    }

    >.s-last {
      transform: translate(0, 100%);
    }
  }
}
