body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

html,
#app,
.s-box.s-viewport {
  height: 100%;
  width: 100%;
}

.s-full {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.s-flex {
  flex: 1;
  overflow: hidden; // firefox 防止内部元素撑破
}
