.s-box {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.s-box-inner {
  flex: 1;
  position: relative;
  overflow: hidden;
  display: flex;
}

.s-flex {
  flex: 1;
}

.s-scrollable-horizontal {
  overflow-x: auto;
}

.s-scrollable-vertical {
  overflow-y: auto;
}
