.s-component {
  position: relative;
}

.s-box {
  display: flex;
  flex-direction: column;
}

.s-box-body {
  flex: 1;
  position: relative;
}

.s-scrollable-horizontal {
  overflow-x: auto;
}

.s-scrollable-vertical {
  overflow-y: auto;
}
