.s-component {
  position: relative;
}

.s-box {
  display: flex;
  flex-direction: column;

  &.s-dock-left {
    flex-direction: row;
  }

  &.s-dock-right {
    flex-direction: row-reverse;
  }

  &.s-dock-bottom {
    flex-direction: column-reverse;
  }
}

.s-box-body {
  flex: 1;
  position: relative;
}

.s-box-body.s-scroll-native {
  &.s-scroll-horizontal {
    overflow-x: auto;
  }

  &.s-scroll-vertical {
    overflow-y: auto;
  }
}

.s-scroll-body {
  height: 100%;
  background: $s-scroll-body-bg;
  position: relative;
  overflow: hidden;


  &.s-scroll-horizontal>.s-scroll-indicator.s-horizontal {
    display: block;
  }

  &.s-scroll-horizontal>.s-box-body {
    min-width: 100%;
  }

  &.s-scroll-vertical>.s-scroll-indicator.s-vertical {
    display: block;
  }

  &.s-scroll-vertical>.s-box-body {
    min-height: 100%;
  }
}

.s-pull-refresh {
  position: absolute;
  width: 100%;
  top: 0;

  .s-text {
    padding: 1rem;
    text-align: center;
  }
}

.s-scroll-indicator {
  background: #000;
  opacity: 0;
  border-radius: 0.15rem;
  display: none;
  position: absolute;
  z-index: 10;
  transition-property: opacity;
  transition-duration: .3s;

  &.s-horizontal {
    height: 0.3rem;
    bottom: 0.3rem;
    left: 0;
  }

  &.s-vertical {
    width: 0.3rem;
    right: 0.3rem;
    top: 0;
  }
}
