.s-drawer {
  overflow: hidden;
}

.s-drawer-mask,
.s-box.s-drawer-contianer {
  @extend .s-full;
}

.s-drawer-mask {
  background: rgba(0, 0, 0, 0.3);
  z-index: 20;
}

.s-drawer-contianer {
  z-index: 10;
  transition-timing-function: linear;
  transition-property: transform;
  transition-duration: .3s;
  transform: translate(0, 0);
}

.s-drawer-mask {
  z-index: 20;
  transition-timing-function: linear;
  transition-property: opacity;
  transition-duration: .3s;
  transform: translate(0, 0);
}

.s-drawer-drawer {
  position: absolute;
  z-index: 30;
  transition-timing-function: linear;
  transition-property: transform;
  transition-duration: .3s;

  &>.s-box-body>.s-component {
    height: 100%;
    width: 100%;
  }
}

.s-drawer.s-dragging>.s-drawer-body {

  &>.s-drawer-contianer,
  &>.s-drawer-mask,
  &>.s-drawer-drawer {
    transition-duration: .1s;
  }
}

.s-drawer-left>.s-drawer-body>.s-drawer-drawer {
  height: 100%;
  transform: translate(-100%, 0);
}

.s-drawer-right>.s-drawer-body>.s-drawer-drawer {
  height: 100%;
  right: 0;
  transform: translate(100%, 0);
}

.s-drawer-top>.s-drawer-body>.s-drawer-drawer {
  width: 100%;
  transform: translate(0, -100%);
}

.s-drawer-bottom>.s-drawer-body>.s-drawer-drawer {
  width: 100%;
  bottom: 0;
  transform: translate(0, 100%);
}

.s-drawer-cover {
  &.s-drawer.s-show>.s-drawer-body>.s-drawer-drawer {
    transform: translate(0, 0);
  }
}

.s-drawer-slide {
  .s-drawer-mask {
    // opacity: 0;
  }

  &.s-show>.s-drawer-body>.s-drawer-drawer {
    transform: translate(0, 0);
  }
}

// 直接显示
.s-drawer.s-drawer-none {
  >.s-drawer-body>.s-drawer-drawer {
    transform: translate(0, 0) !important;
    position: relative;
  }

  >.s-drawer-body {
    display: flex;

    >.s-drawer-contianer {
      transform: translate(0, 0) !important;
      position: relative;
      flex: 1;
    }
  }

  &.s-drawer-left {
    >.s-drawer-body {
      flex-direction: row;
    }
  }

  &.s-drawer-right {
    >.s-drawer-body {
      flex-direction: row-reverse;
    }
  }

  &.s-drawer-top {
    >.s-drawer-body {
      flex-direction: column;
    }
  }

  &.s-drawer-bottom {
    >.s-drawer-body {
      flex-direction: column-reverse;
    }
  }
}
