.s-layout-vbox {
  display: flex;
  flex-direction: column;

  &>.s-box-body {
    display: flex;
    flex-direction: column;
  }
}

.s-layout-hbox {
  display: flex;
  flex-direction: column;

  &>.s-box-body {
    display: flex;
    flex-direction: row;
  }
}

.s-layout-fit {
  display: flex;

  &>.s-box-body>.s-component {
    @extend .s-full;
  }
}

.s-layout-card {
  flex-direction: row;
  overflow: hidden;

  &>.s-box-body>.s-component {
    @extend .s-full;
    display: block;
  }
}
