.s-layout-vertical {
  display: flex;
  flex-direction: column;
}

.s-layout-horizontal {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.s-layout-fit {
  &>.s-component {
    @extend .s-full;
  }
}

.s-layout-card {
  overflow: hidden;
  &>.s-component {
    @extend .s-full;
    display: block;
  }
}
