.s-toolbar {
  background: #fff;
  border-bottom: solid 1px $s-toolbar-border-color;
}

.s-toolbar-body {
  align-items: center;
  padding: 0 $s-toolbar-padding;
  height: $s-toolbar-height;

  .btn {
    margin-right: $s-toolbar-padding;

    &:last-of-type {
      margin-right: 0;
    }
  }
}
