.tooltip{
  opacity: 1;
  &.bs-tooltip-left .arrow{
    right: 0px;
    margin-top: -5px;
    top: 50%;
  }
  &.bs-tooltip-right .arrow{
    left: 0px;
    margin-top: -5px;
    top: 50%;
  }
  &.bs-tooltip-top .arrow{
    bottom: 0px;
    margin-left: -5px;
    left: 50%;
  }
  &.bs-tooltip-bottom .arrow{
    top: 0px;
    margin-left: -5px;
    left: 50%;
  }
}
